<link href="~/css/rodape.css" rel="stylesheet" />

<footer style="background-color:rgb(133, 133, 133)" class="mt-4  text-center col-12" >
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <!-------primeira area do footer-------->
                <div class="col-md-4 col-sm-4 col-12 col-sm-12 ">
                    <div class="footer-content">
                        <div class="footer-head">
                            <!--footer logo-->
                            <div class="footer-logo">
                                <h4><img src="~/images/logo.png" width="70%"></h4>
                            </div>
                            <!--footer icons-->
                            <div class="footer-icons">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <hr style="background-color:rgb(220, 86, 0)" />
                                <p style="color:white">932018180</p>
                                <p style="color:white">transportadorad2s@@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--------segunda area do footer--------->
                <div class="col-md-4 col-sm-4 col-12 col-sm-12" style="padding-top: 100px">
                    <div class="but1">
                        <a asp-controller="" asp-action="" style="color:white">Veja aqui as nossa lojas perto de si.</a>
                    </div>
                    <div class="but1" style="margin-left:-5%">
                        <a asp-controller="" asp-action="" style="color:white">Venha trabalhar connosco!</a>        
                    </div>
                    <div class="mt-5">
                        <a class="fa fa-star" style="color:rgb(0, 182, 122);background-color:transparent;font-size:large;margin-left:-46px"></a><label style="color:white">Trustpilot</label><br />
                        <a class="fa fa-star" style="color:white;background-color:none"></a><a class="fa fa-star" style="color:white;"></a><a class="fa fa-star" style="color:white;"></a><a class="fa fa-star" style="color:white;"></a><a class="fa fa-star" style="color:white;background-color:lightgray"></a><br />
                        <p style="color:white;font-size:12px;margin-left:-74px;margin-bottom:0;margin-top:7px">TrustScore 4.0</p><br style="margin-bottom:0"/>
                        <p style="color:white;font-size:12px;margin-left:-67px;margin-top:-33px">11 005 opiniões</p>
                    </div>
                </div>
                    <!--------terceira area do footer--------->
                    <div class="col-md-4 col-sm-4 col-12 col-sm-12" style="padding-top:80px">
                        <div class="footer-content1">
                            <div class="footer-head" >
                                <h4 style="color:white">Visite-nos</h4>
                                <hr style="background-color:white;width:75%" />
                                <p><i style="font-size:5.5em;color:rgb(220, 86, 0)" class="fa fa-map-marker pt-3" aria-hidden="true"></i></p>
                                <p> <a style="color:white" href="https://www.google.com/maps/place/EPED+-+Escola+Profissional+de+Educa%C3%A7%C3%A3o+para+o+Desenvolvimento+(info@eped.pt)/@@38.6634957,-9.2053841,17z/data=!3m1!4b1!4m5!3m4!1s0xd1ecb06de84d29d:0x8ded251de715c09!8m2!3d38.6634915!4d-9.2031954">Largo Bulhão Pato 56, 2825-114 Caparica</a></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </div>
    <!-------- area de baixo do footer--------->
    <div class="footer-area-bottom container-fluid">
        <div>
            <br />
            <br />
            <div class="copyright text-center">
                 <p class="text-center">&copy; Copyright A D2S contem todos os direitos reservados.</p>
            </div>
            <div class="credits text-center">
                 Designed by <a class="fds" href="#">D2S Editors</a>
            </div>
        </div>
    </div>
</footer>
