<link href="~/css/recrutamento.css" rel="stylesheet" />
<script src="~/js/recrutamento.js"></script>
@{
    ViewBag.Title = "Recrutamento";
}
<!---------------------------------------------------------RECRUTAMENTO---------------------------------------------------------->

<div id="inicio" style="margin-top:10%;margin-bottom:5%;z-index:1;" class="main">
    <ul class="cbp-ig-grid">
        <li>
            <a onclick="braga()">
                <span class="cbp-ig-icon cbp-ig-icon-shoe"></span>
                <h3 class="cbp-ig-title">Braga</h3>
                <span class="cbp-ig-category">Ver vagas</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span style="margin-top:0" class="cbp-ig-icon cbp-ig-icon-ribbon"></span>
                <h3 class="cbp-ig-title">Porto</h3>
                <span class="cbp-ig-category">Ver vagas</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="cbp-ig-icon cbp-ig-icon-milk"></span>
                <h3 class="cbp-ig-title">Viseu</h3>
                <span class="cbp-ig-category">Ver vagas</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="cbp-ig-icon cbp-ig-icon-whippy"></span>
                <h3 class="cbp-ig-title">Lisboa</h3>
                <span class="cbp-ig-category">Ver vagas</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="cbp-ig-icon cbp-ig-icon-spectacles"></span>
                <h3 class="cbp-ig-title">Setúbal</h3>
                <span class="cbp-ig-category">Ver vagas</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="cbp-ig-icon cbp-ig-icon-doumbek"></span>
                <h3 class="cbp-ig-title">Faro</h3>
                <span class="cbp-ig-category">Ver vagas</span>
            </a>
        </li>
    </ul>
</div>

<!------------------------------------------------!!!RECRUTAMENTO---------------------------------------------------->

<!--#region loja de Braga-->
<div id="braga2" class="container col-lg-8 text-center" style="height:90vh;width:100%;margin-top:7%;z-index:0;display:none">
    <h2 style="color:dimgray">Vagas disponiveis de momento (Braga)</h2>
    <hr />
    <section id="cards" class="mt-2">
        <div class="container-fluid my-3 py-5">
            <div class="row align-content-center">
                <!--primeiro card-->
                <div id="posto" class="col-lg-4 col-md-6 col-xs-12 mb-3">
                    <a onclick="">
                        <div class="card">
                            <div class="card-body p-0" style="background-image: url('../images/recrutamento/1.jpg');height: 600px">
                                <div class="text-center" style="margin-top:125%">
                                    <section class="main p-0 m-0">
                                        <h2 class="cs-text text-center">
                                            <span class="cs-text-cut ">Mecânico</span>
                                            <span class="cs-text-mid w-100">Ver Requisitos</span>
                                            <span class="cs-text-cut ">Mecânico</span>

                                        </h2>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!--segundo card-->
                <div id="posto" class="col-lg-4 col-md-6 col-xs-12 mb-3">
                    <a onclick="">
                        <div class="card">
                            <div class="card-body p-0" style="background-image: url('../images/recrutamento/2.jpg'); height: 600px">
                                <div class="text-center" style="margin-top:125%">
                                    <section class="main p-0 m-0">
                                        <h2 class="cs-text text-center">
                                            <span class="cs-text-cut ">Técnico de Software</span>
                                            <span class="cs-text-mid w-100">Ver Requisitos</span>
                                            <span class="cs-text-cut ">Técnico de Software</span>

                                        </h2>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!--terceiro card-->
                <div id="posto" class="col-lg-4 col-md-6 col-xs-12 mb-3">
                    <a onclick="">
                        <div class="card">
                            <div class="card-body p-0" style="background-image: url('../images/recrutamento/3.jpg'); height: 600px">
                                <div class="text-center" style="margin-top:125%">
                                    <section class="main p-0 m-0">
                                        <h2 class="cs-text text-center">
                                            <span class="cs-text-cut ">Comercial de loja</span>
                                            <span class="cs-text-mid w-100">Ver Requisitos</span>
                                            <span class="cs-text-cut ">Comercial de loja</span>

                                        </h2>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


            </div>
        </div>
    </section>
</div>


<!--#endregion Braga-->
