<link href="~/css/Contactos.css" rel="stylesheet" />
@{
    ViewBag.Title = "Contactos";
}
@model D2S.Models.Mensagem;
<body>
    <!------------------------------------------------seccao das lojas---------------------------------------------------->
    <div style="margin-top:10%" class="container">
        <div class="container text-center">
            <h1 style="color:dimgray">Nossas Lojas</h1>
            <hr />
        </div>
        <div class="wrapper">
            <ul class="stage clearfix">

                <li class="scene">
                    <div class="movie">
                        <div class="poster" style=" background-image: url('../images/dhl/dhl-1.jpg')"><h1>Braga</h1></div>
                        <div class="info">
                            <header>
                                <h1>Braga</h1><br />
                                <div class="container p-0 m-0">
                                    <div class="container-fluid mt-1">
                                        <div class="float-left ml-1"><i class="fa fa-mobile " style="font-size:3em;color:lightgrey"></i></div>
                                        <div class="float-right"><p id="txtlbl1"> 914857246 / 927456374</p></div>
                                    </div>
                                    <br />
                                    <div class="container-fluid mt-5">
                                        <div class="float-left mt-1"><i class="fa fa-envelope " style="font-size:2em;color:lightgrey"></i></div>
                                        <div class="float-right"><p id="txtlbl2" style="margin-left:-160px;"> D2SBraga@gmail.com</p></div>
                                    </div>
                                </div>
                            </header>

                            <div class="text-center mt-4">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3115.350420057303!2d-9.20363528415801!3d38.6638140081138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ecb06de84d29d%3A0x8ded251de715c09!2sEPED%20-%20Escola%20Profissional%20de%20Educa%C3%A7%C3%A3o%20para%20o%20Desenvolvimento%20(info%40eped.pt)!5e0!3m2!1spt-PT!2spt!4v1592524161510!5m2!1spt-PT!2spt" width="200" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="scene">
                    <div class="movie">
                        <div class="poster" style="background-image: url('../images/dhl/img-2.jpg')"><h1>Porto</h1></div>
                        <div class="info">
                            <header>
                                <h1>Porto</h1><br />
                                <div class="container p-0 m-0">
                                    <div class="container-fluid mt-1">
                                        <div class="float-left ml-1"><i class="fa fa-mobile " style="font-size:3em;color:lightgrey"></i></div>
                                        <div class="float-right"><p id="txtlbl1"> 914857246 / 927456374</p></div>
                                    </div>
                                    <br />
                                    <div class="container-fluid mt-5">
                                        <div class="float-left mt-1"><i class="fa fa-envelope " style="font-size:2em;color:lightgrey"></i></div>
                                        <div class="float-right"><p id="txtlbl2" style="margin-left:-160px;"> D2SPorto@gmail.com</p></div>
                                    </div>
                                </div>
                            </header>

                            <div class="text-center mt-4">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3115.350420057303!2d-9.20363528415801!3d38.6638140081138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ecb06de84d29d%3A0x8ded251de715c09!2sEPED%20-%20Escola%20Profissional%20de%20Educa%C3%A7%C3%A3o%20para%20o%20Desenvolvimento%20(info%40eped.pt)!5e0!3m2!1spt-PT!2spt!4v1592524161510!5m2!1spt-PT!2spt" width="200" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="scene">
                    <div class="movie">
                        <div class="poster" style="background-image: url('../images/dhl/img-3.jpg')"><h1>Viseu</h1></div>
                        <div class="info">
                            <header>
                                <h1>Viseu</h1><br />
                                <div class="container p-0 m-0">
                                    <div class="container-fluid mt-1">
                                        <div class="float-left ml-1"><i class="fa fa-mobile " style="font-size:3em;color:lightgrey"></i></div>
                                        <div class="float-right"><p id="txtlbl1"> 914857246 / 927456374</p></div>
                                    </div>
                                    <br />
                                    <div class="container-fluid mt-5">
                                        <div class="float-left mt-1"><i class="fa fa-envelope " style="font-size:2em;color:lightgrey"></i></div>
                                        <div class="float-right"><p id="txtlbl2" style="margin-left:-160px;"> D2SViseu@gmail.com</p></div>
                                    </div>
                                </div>
                            </header>

                            <div class="text-center mt-4">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3115.350420057303!2d-9.20363528415801!3d38.6638140081138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ecb06de84d29d%3A0x8ded251de715c09!2sEPED%20-%20Escola%20Profissional%20de%20Educa%C3%A7%C3%A3o%20para%20o%20Desenvolvimento%20(info%40eped.pt)!5e0!3m2!1spt-PT!2spt!4v1592524161510!5m2!1spt-PT!2spt" width="200" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="scene">
                    <div class="movie">
                        <div class="poster" style=" background-image: url('../images/dhl/dhl-1.jpg')"><h1>Lisboa</h1></div>
                        <div class="info">
                            <header>
                                <h1>Lisboa</h1><br />
                                <div class="container p-0 m-0">
                                    <div class="container-fluid mt-1">
                                        <div class="float-left ml-1"><i class="fa fa-mobile " style="font-size:3em;color:lightgrey"></i></div>
                                        <div class="float-right"><p id="txtlbl1"> 914857246 / 927456374</p></div>
                                    </div>
                                    <br />
                                    <div class="container-fluid mt-5">
                                        <div class="float-left mt-1"><i class="fa fa-envelope " style="font-size:2em;color:lightgrey"></i></div>
                                        <div class="float-right"><p id="txtlbl2" style="margin-left:-160px;"> D2SLisboa@gmail.com</p></div>
                                    </div>
                                </div>
                            </header>

                            <div class="text-center mt-4">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3115.350420057303!2d-9.20363528415801!3d38.6638140081138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ecb06de84d29d%3A0x8ded251de715c09!2sEPED%20-%20Escola%20Profissional%20de%20Educa%C3%A7%C3%A3o%20para%20o%20Desenvolvimento%20(info%40eped.pt)!5e0!3m2!1spt-PT!2spt!4v1592524161510!5m2!1spt-PT!2spt" width="200" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="scene">
                    <div class="movie">
                        <div class="poster" style=" background-image: url('../images/dhl/dhl-1.jpg')"><h1>Setúbal</h1></div>
                        <div class="info">
                            <header>
                                <h1>Setúbal</h1> <br />
                                                 <div class="container p-0 m-0">
                                                     <div class="container-fluid mt-1">
                                                         <div class="float-left ml-1"><i class="fa fa-mobile " style="font-size:3em;color:lightgrey"></i></div>
                                                         <div class="float-right"><p id="txtlbl1"> 914857246 / 927456374</p></div>
                                                     </div>
                                                     <br />
                                                     <div class="container-fluid mt-5">
                                                         <div class="float-left mt-1"><i class="fa fa-envelope " style="font-size:2em;color:lightgrey"></i></div>
                                                         <div class="float-right" ><p id="txtlbl2" style="margin-left:-160px;"> D2SSetubal@gmail.com</p></div>
                                                     </div>
                                                 </div>
                            </header>    
                            
                            <div class="text-center mt-4" >
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3115.350420057303!2d-9.20363528415801!3d38.6638140081138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ecb06de84d29d%3A0x8ded251de715c09!2sEPED%20-%20Escola%20Profissional%20de%20Educa%C3%A7%C3%A3o%20para%20o%20Desenvolvimento%20(info%40eped.pt)!5e0!3m2!1spt-PT!2spt!4v1592524161510!5m2!1spt-PT!2spt" width="200" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>                            
                            </div>                            
                        </div>
                    </div>
                </li>

                <li class="scene">
                    <div class="movie">
                        <div class="poster" style=" background-image: url('../images/dhl/dhl-1.jpg')"><h1>Faro</h1></div>
                        <div class="info">
                            <header>
                                <h1>Faro</h1><br />
                                <div class="container p-0 m-0">
                                    <div class="container-fluid mt-1">
                                        <div class="float-left ml-1"><i class="fa fa-mobile " style="font-size:3em;color:lightgrey"></i></div>
                                        <div class="float-right"><p id="txtlbl1"> 914857246 / 927456374</p></div>
                                    </div>
                                    <br />
                                    <div class="container-fluid mt-5">
                                        <div class="float-left mt-1"><i class="fa fa-envelope " style="font-size:2em;color:lightgrey"></i></div>
                                        <div class="float-right"><p id="txtlbl2" style="margin-left:-160px;"> D2SFaro@gmail.com</p></div>
                                    </div>
                                </div>
                            </header>

                            <div class="text-center mt-4">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3115.350420057303!2d-9.20363528415801!3d38.6638140081138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ecb06de84d29d%3A0x8ded251de715c09!2sEPED%20-%20Escola%20Profissional%20de%20Educa%C3%A7%C3%A3o%20para%20o%20Desenvolvimento%20(info%40eped.pt)!5e0!3m2!1spt-PT!2spt!4v1592524161510!5m2!1spt-PT!2spt" width="200" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div><!-- /wrapper -->
    </div><!-- /container -->
    <!------------------------------------------------!!!!seccao das lojas---------------------------------------------------->
    <div style="margin-bottom:10%;margin-top:10%" class="container col-10 text-center">
        <h1 style="color:dimgray">Recrutamento</h1>
        <hr />
        <p style="color:dimgray">
            dsfg sdhjgfhjksd gfsdgjhf gshjd gfhjksd gjkhfgkshd ghjfsghjk sgkhjd gkjhsdgkhj sghkjd gkhjfsdjgh gshjkd ghjks gkhjs gjhk sghjk fghjksd fghj
            ghjsdfhsjgdfghjksdfghksdkghjfksghjdfghjsdfghjksdgfhj sghjdkf ghjsdf ghjksdf ghjksdfg hjsdghj fsghjdk sghjfkd ghjfsdghj fsjghf ghjskddf gjhsghj
            sdgfhjsdgjhfgkhjsdfghjksdghjf sghjkdf ghjksdfghjk sdghjfk sghj fsghjd fsghjkd f ghjksgjkhd f gjkhsdfghsghjkf ghjsdfs
        </p>
        @using (Html.BeginForm("Recrutamento", "Home", FormMethod.Get))
        {
            <button class="mt-3" id="btnrecrut" type="submit">Ver ofertas disponiveis</button>
        }

    </div>
    <!------------------------------------------------seccao das mensagens---------------------------------------------------->

    <div class="col-12 container text-center">

        <h1 style="color:dimgray">Tem alguma questão? Fale já conosco!</h1>
        <hr style="width:80%" />
    </div>
    <div id="aqui" style="margin-bottom:25%;margin-top:3%" class="container-fluid col-10">


        <div class="container col-lg-6 col-md-12 ml-0 pl-0 float-left text-center " style="color:dimgray">
            <h4>Contacte-nos</h4>
            <p style="margin-bottom:0;margin-top:3%">915478325</p><br />
            <p style="margin-bottom:0">936857421</p><br />
            <p style="margin-bottom:0">965742158</p>
        </div>

        <div class="container col-lg-6 col-md-12 float-right text-center">
            <h4 style="color:dimgray">Deixe-nos a sua mensagem</h4>
            <div class="col-10 ml-5 pl-5">
                <form class="col-12 mt-3" asp-controller="Mensagem" asp-action="mensagem" method="post">

                    <div class="form-group col-12 ">
                        <input asp-for="assunto" onblur="this.placeholder='Assunto'" placeholder="Assunto" onfocus="this.placeholder=''" class="form-control " type="text" />
                        <span style="text-align:left !important" class="float-left w-100 mb-3" asp-validation-for="assunto"></span>
                    </div>

                    <div class="form-group col-6 float-left ">
                        <input asp-for="nome" onblur="this.placeholder='Nome'" placeholder="Nome" onfocus="this.placeholder=''" class="form-control" type="text" />
                        <span asp-validation-for="nome"></span>
                    </div>

                    <div class="form-group col-6 float-right ">
                        <input asp-for="email" onblur="this.placeholder='Email'" placeholder="Email" onfocus="this.placeholder=''" class="form-control" type="email" />
                        <span asp-validation-for="email"></span>
                    </div><br />

                    <div style="width:100%;text-align:center">
                        <textarea asp-for="texto" placeholder="Insira aqui a sua mensagem" onblur="this.placeholder='Insira aqui a sua mensagem'" onfocus="this.placeholder=''" style="border-style:solid;border-radius:5px;border-color:rgb(206, 212, 218);margin-left:3%;margin-right:3%;width:94%" rows="5" cols="40"></textarea>
                        <span style="text-align:left !important" class="w-100 float-left ml-4 mb-2" asp-validation-for="texto"></span>
                    </div>

                    <input type="submit" class="btn btn-outline-dark" value="Enviar" />
                </form>
            </div>
        </div>
    </div>

    <!------------------------------------------------!!!!seccao das mensagens---------------------------------------------------->




</body>
