@{ Layout = null; }

@model D2S.Models.Login

<link href="~/css/rodape.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />

<head>
    <meta name="viewport" content="width=device-width" />
    <title>D2S Service Express | Home</title>
    <link rel="icon" type="image/x-icon" href="../images/D2S.ico">
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>


<!------------------------------------navbar------------------------------------------------------------------->
<div class="parent" style="height:100vh;width:100%">
    <div class="ok">
        <a asp-action="index" asp-controller="home"><img src="~/images/logo.png" style="width:60%;padding-bottom:4%" /></a>
    </div>
    <div id="container" class="container text-center sticky-top col-12" style="padding-top: 4%">
        <ul style="z-index:2">
            <li> <a asp-action="index" asp-controller="home" class="cool-link">Home</a> </li>
            <li> <a asp-action="sobre" asp-controller="home" class="cool-link">Sobre</a> </li>
            <li> <a asp-action="encomendar" asp-controller="home" class="cool-link">Encomendas</a> </li>
            <li> <a asp-action="Downloads" asp-controller="home" class="cool-link">Downloads</a> </li>
            <li> <a asp-action="" asp-controller="home" class="cool-link">FAQ's</a> </li>
            <li> <a asp-action="contactos" asp-controller="home" class="cool-link">Contactos</a> </li>
            <li> <a href="#" class="cool-link">Ofertas</a> </li>
        </ul>
    </div>
</div>

<!--lupa-->
<button type="button" style="position: fixed; top: 35px; right: 120px;border:none;background-color:transparent"> <i style="float:right; margin-right:4px; font-size:1.8em;color:white;" class="fa fa-search" aria-hidden="true"></i></button>
<!--user-->
<button type="button" data-toggle="modal" data-target="#loginmodal" style="position:fixed; height:40px; width:40px; top:32px; right:70px; border:none;background-color:transparent;float:right;margin-right:10px"><i class="fa fa-user" aria-hidden="true" style="font-size:1.75rem; color:white"></i></button>
<!--pt/EN-->
<p classe="pten" style="float:right;color:white;top:37px;right:25px;position:fixed;font-size:1.1em"> <a style="color: white;font-size:1.1em" href="#">PT</a>/<a style="color: white;font-size:1.1em" href="#">EN</a></p>
<!-----------------------------------form de login----------------------------------------------->
<form action="/" method="post">
    <div class="modal fade" role="dialog" id="loginmodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!--header-->
                <div class="modal-header">
                    <h3 class="modal-title">Entrar</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!--body-->
                <div class="modal-body">

                    <div class="form-group">
                        <label class="control-label">E-mail: </label>
                        <input asp-for="email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Palavra-Passe: </label>
                        <input asp-for="pass" class="form-control" />
                    </div>
                </div>
                <!--footer-->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" asp-controller="Home" asp-action="index">Entrar</button>
                </div>
                <div class="link-registo">
                    <p>Se ainda não tem uma conta, clique <a asp-controller="home" asp-action="registo">aqui</a>para criar já a sua.</p>
                </div>
            </div>
        </div>
    </div>
</form>

@{ if (TempData["msg"] != null)
    {
        <script>
            alert('@TempData["msg"]')
        </script>
 } }

@{ if (TempData["erro de login"] != null)
    {
        <script>
            alert('@TempData["erro de login"]')
        </script>
 } }


